<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加学生详情</title>

</head>
<body>


                              <!--{% for stu in stu %}-->
								  <!--<li><a href="#">{{stu.w_name}}</a></li>-->
                              <!--{% endfor %}-->

                              {% for stu in lala %}
								  <li><a href="#">{{stu}}</a></li>
                              {% endfor %}


    <script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
			$(function() {                                                                                                                                                           bnn
				console.log(stu)
			});
		</script>
</body>
</html>