{% extends 'back/base.html' %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
{% block js %}
    <meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/static/back/css/style.css">
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<script src="/static/back/js/jquery.js"></script>
<script src="/static/back/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>

	(function($){
		$(window).load(function(){

			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});

			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});

		});
	})(jQuery);
</script>
            {% endblock %}
</head>
<body>
<!--header-->
{% block head %}
    {{ block.super }}

{% endblock %}
{% block body %}
    <section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">会员列表</h2>
       <a href="user_detail.html" class="fr top_rt_btn add_icon">添加新会员</a>
      </div>
      <section class="mtb">
       <select class="select">
        <option>会员等级</option>
        <option>普通会员</option>
        <option>高级会员</option>
       </select>
       <input type="text" class="textbox textbox_225" placeholder="输入会员号/手机/电子邮件查询..."/>
       <input type="button" value="查询" class="group_btn"/>
      </section>
      <table class="table">

       <tr>
        <th>Id</th>
        <th>会员账号</th>
        <th>手机号码</th>
        <th>电子邮件</th>
           <th>收货地址</th>
        <th>操作</th>
       </tr>
          {% for good in goods %}
              <tr>
        <td class="center">{{ good.id }}</td>

        <td>{{ good.uname }}</td>
        <td class="center">{{ good.uphone }}</td>
        <td class="center">{{ good.uemail }}</td><td class="center">{{ good.uaddress }}</td>

        <td class="center">
         <a href="{% url 'back:user_detail' %}?id={{ good.id }}" title="编辑" class="link_icon">&#101;</a>
         <a href="#" title="删除" class="link_icon">&#100;</a>
        </td>
       </tr>
          {% endfor %}


      </table>
       <aside class="paging">
      	{% if goods.has_previous %}
          <a href="{% url 'back:user_list' %}?page_id={{ goods.previous_page_number }}">上一页</a>
          {%  endif %}
          当前第{{ goods.number }}页
          {% if goods.has_next %}
          <a href="{% url 'back:user_list' %}?page_id={{ goods.next_page_number }}"> 下一页</a>
      {%  endif %}
      </aside>
 </div>
</section>

{% endblock %}
</body>
</html>
