{% extends 'back/base.html' %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
{% block js %}
    <meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/static/back/css/style.css">
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<script src="/static/back/js/jquery.js"></script>
<script src="/static/back/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>

	(function($){
		$(window).load(function(){

			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});

			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});

		});
	})(jQuery);
</script>
            {% endblock %}</head>
<body>
<!--header-->
{% block head %}
    {{ block.super }}

{% endblock %}
{% block body %}
    <form action="" method="post">
    {% csrf_token %}
    <section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">会员详情</h2>
       <a href="adjust_funding.html" class="fr top_rt_btn money_icon">资金管理</a>
      </div>
      <ul class="ulColumn2">

       <li>
        <span class="item_name"  style="width:120px;">会员名称：</span>
        <input type="text"  name="name" class="textbox textbox_225" value="{{ user.uname }}" placeholder="会员账号..."/>

       </li>
       <li>
        <span class="item_name" style="width:120px;">登陆密码：</span>
        <input type="text" name="passwd" class="textbox textbox_225" value="{{ user.upwd }}" placeholder="会员密码..."/>

       </li>

       <li>
        <span class="item_name" style="width:120px;">电子邮箱：</span>
        <input type="email" name="email" class="textbox textbox_225" value="{{ user.uemail }}" placeholder="电子邮件地址..."/>

       </li>
       <li>
        <span class="item_name" style="width:120px;">手机号码：</span>
        <input type="tel" name="phone" class="textbox textbox_225" value="{{ user.uphone }}" placeholder="手机号码..."/>

       </li>

       <li>
       <li>
        <span class="item_name" style="width:120px;">收货地址：</span>
        <input type="text" name="address" class="textbox textbox_295" value="{{ user.uaddress }}" placeholder="详细地址..."/>

       </li>
          <li>
        <span class="item_name" style="width:120px;">邮编：</span>
        <input type="text" name="youbian" class="textbox textbox_295" value="{{ user.uyoubian }}" placeholder="详细地址..."/>

       </li>
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn" value="更新/保存"/>
       </li>
      </ul>
 </div>
</section>
    </form>
{% endblock %}

</body>
</html>
